*{
    margin: 0;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
    background-color: #3fc0e7b8;
}
nav{
    margin: 0;
}
.encabezado ul{
    margin: 1rem;
    display: flex;
    justify-content: end;
}
.encabezado li{
    background-color: rgba(255, 254, 250);
    margin: 0 4rem 0 7rem;
    position: relative;
    padding: 5vh;
    border-radius: 4rem;
}
.encabezado a{
    text-decoration: none;
    color: rgba(22, 29, 29, 0.562);
}
header{
    display: flex; justify-content: center;
}
.tema{
    background-color: yellow;
    border-radius: 100%;
    margin: 5vh 10vh; padding: 4vh;
    width: 10rem; height: 10rem;
}
.tema img{
    width: 50%;
    margin: 1.5rem 1.7rem; padding: auto;
}
.leyenda{
    margin: auto;
    text-align: center;
    /* text-shadow: gray 5px 2px 4px; */
    word-spacing: 25px;
    letter-spacing: 5px;
}
header h1{
    font-size: 4rem;
    color: red;
}
header p{
    font-size: 2rem;
}
aside, section{
    border: green 5px solid;
}
aside p{
    font-size: 1.3rem;
}
.trayecto{
    margin: auto;
    padding: auto;
    width: 90%;
}
h2{
    text-align: center;
}
hr{
    height: 5px;
    background-color: green;
    border-color: green;
}
.habilidades{
    display: flex;
    flex-direction: row;
    font-size: 1rem;
}
ul li{
    margin-top: 15px;
    list-style: none
}
dl{
    margin: auto;
}
.anterior{
    background-color: black;
    margin-right: auto;
}
.siguiente{
    background-color: black;
    margin-left: auto;
}
footer{
    margin: 0;
    padding-bottom: 10px;
}
.contacto{
    padding-top: 10px;
}
.contacto h3{
    text-align: center;
}
.contacto div{
    margin-top: 10px;
}
.botones button{
    margin: 30px;
    background-color: brown;
    border: brown;
    font-size: large;
}
.botones button:hover{
    background-color: purple;
}